body {
    background-color: lightgray;
}

code {
    background-color: black;
    color: white;
}

#board {
    background-color: darkgray;
    height: 500px;
    width: 500px;
    margin-left:auto;
    margin-right:auto;
}

.box {
    float: left;
    height: 50px;
    width: 50px;
}

.textMidCenter {
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
}

td {
    border: 1px solid black;
}

#cakeTable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

    #cakeTable td, #cakeTable th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    #cakeTable tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    #cakeTable tr:hover {
        background-color: #ddd;
    }

    #cakeTable th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #4CAF50;
        color: white;
    }