@model List<Cake>
@{
    ViewData["Title"] = "Index";
}

<h1>Cakes Index</h1>

<form asp-action="AmountFilterCakes" method="get">
    <input type="number" name="minAmount" />
    <input type="submit" value="Set minimal amount" />
</form>

<partial name="_CakeTableParctialView" model="Model" />


<script src="~/js/MyJS.js"></script>